<h5>
  <small>Temperatures</small>
  <span>{{label}}</span>
</h5>
<div class="label" id="lmpa">
  <h3>LMPA<sup>&trade;</sup>-Q</h3>
  <p>{{minTempLMPA}}°C - {{maxTempLMPA}}°C</p>
</div>
<div class="label" id="sac">
  <h3>Sn(Ag)Cu</h3>
  <p>{{minTempSAC}}°C - {{maxTempSAC}}°C</p>
</div>
<svg width="340px" height="240px" viewBox="0 0 340 240">
  <defs>
    <path d="M0,160 C0,71.63444 71.63444,0 160,0 C248.36556,0 320,71.63444 320,160 C320,180.279523 316.22471,200.039586 308.961352,218.515396 C308.548184,219.566371 307.361262,220.083416 306.310287,219.670248 L262.54224,202.463803 C261.491265,202.050635 260.97422,200.863713 261.387388,199.812738 C266.345157,187.201656 268.881789,173.778082 268.881789,160 C268.881789,99.8662483 220.133752,51.1182109 160,51.1182109 C99.8662483,51.1182109 51.1182109,99.8662483 51.1182109,160 C51.1182109,173.777564 53.6546517,187.200648 58.6120564,199.811323 C59.0252093,200.862304 58.5081476,202.049219 57.4571668,202.462372 L13.6888773,219.6682 C12.6378965,220.081353 11.4509816,219.564292 11.0378287,218.513311 C3.77500382,200.038094 0,180.278756 0,160 Z" id="path-1"></path>
  </defs>
  <g id="LMPA-Q-final" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Heat-failures" transform="translate(-430.000000, -485.000000)">
      <g id="temperature-gauge" transform="translate(430.000000, 485.000000)">
        <circle id="oval" fill="#FFFFFF" cx="170" cy="170" r="160"></circle>
        <circle id="outer-oval" fill="#FFFFFF" cx="170" cy="170" r="170"></circle>
        <circle id="mid-point" fill="#FFFFFF" cx="170" cy="170" r="2"></circle>
        <g id="inner-moon" transform="translate(10.000000, 10.000000)">
          <mask id="mask-2" fill="white">
            <use xlink:href="#path-1"></use>
          </mask>
          <use id="Mask" fill="#B6D92E" fill-rule="nonzero" xlink:href="#path-1"></use>
          <image x="0" y="0" width="320" height="320" mask="url(#mask-2)" xlink:href="/assets/images/temperature-gauge-background.png"/>
        </g>
        <g id="pies" transform="translate(170.000000, 0.000000)" fill="#000000">
          <path id="pie-reflow-lmpa-190-220" class="reflow" d="M-1.44950718e-12,169 L76.7123811,17.2513424 C60.7234235,9.15256911 43.2816426,3.50646927 24.8819458,0.807950318 L-1.44950718e-12,169 Z" opacity="0.15"></path>
          <path id="pie-reflow-235-250" class="reflow" d="M120.825326,49.412186 C113.852767,42.3679265 106.268575,35.9302261 98.1589637,30.1852999 L1.84741111e-12,169 L120.825326,49.412186 Z" opacity="0.15"></path>
          <path id="pie-wave-sac-260-280" class="wave" d="M156.781937,103.163592 C150.886952,89.1421915 143.169404,76.0801659 133.919983,64.2700195 L-5.17275112e-12,169 L156.781937,103.163592 Z" opacity="0.15"></path>
          <path id="pie-wave-lmpa-200-230" class="wave" d="M0,169 L92.8347067,26.562672 C77.169771,16.332069 59.713581,8.61577435 41.0390046,3.98665581 L0,169 Z" opacity="0.15"></path>
          <path id="pie-selective-lmpa-200-250" class="selective" d="M7.67386155e-13,169 L120.665614,49.2510455 C99.0837769,27.5050373 71.6640605,11.5609926 40.9528866,3.96533261 L7.67386155e-13,169 Z" opacity="0.15"></path>
          <path id="pie-selective-sac-270-320" class="selective" d="M169.887453,163.75585 C168.75525,132.398081 159.129946,103.205869 143.242868,78.4105396 L3.56692453e-12,170 L169.887453,163.75585 Z" opacity="0.15"></path>
        </g>
        <g id="temp-marks" opacity="0.500509511" transform="translate(13.000000, 14.000000)" stroke-linecap="square">
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(-108.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(-77.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(-46.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(-16.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(14.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(45.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(76.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
          <g id="mark" transform="translate(157.000000, 156.500000) rotate(109.000000) translate(-157.000000, -156.500000) translate(156.000000, -4.000000)">
            <path d="M1,160 L1,1.13686838e-13" id="white-line" stroke="#FFFFFF"></path>
            <path d="M1,321 L1,161" id="invisible-line" stroke="#5192D5" opacity="0"></path>
          </g>
        </g>
        <g id="arrow-sac" class="arrow sac" transform="translate(170.000000, 170.500000) translate(-170.000000, -170.500000) translate(157.000000, 10.000000)">
          <g>
            <path d="M13,160 L13,1.13686838e-13" id="invisible-line" stroke="#FFFFFF" opacity="1" stroke-linecap="square"></path>
            <path d="M13,321 L13,161" id="invisible-line" stroke="#5192D5" opacity="0" stroke-linecap="square"></path>
            <polygon id="triangle" fill="#FFFFFF" points="12.9773707 32.5168515 25.4773707 57.5168515 0.477370681 57.5168515"></polygon>
          </g>
        </g>
        <g id="arrow-lmpa" class="arrow lmpa" transform="translate(170.000000, 170.500000) translate(-170.000000, -170.500000) translate(157.000000, 10.000000)">
          <g>
            <path d="M13,160 L13,1.13686838e-13" id="invisible-line" stroke="#FFFFFF" opacity="1" stroke-linecap="square"></path>
            <path d="M13,321 L13,161" id="invisible-line" stroke="#5192D5" opacity="0" stroke-linecap="square"></path>
            <polygon id="triangle" fill="#FFFFFF" points="12.9773707 32.5168515 25.4773707 57.5168515 0.477370681 57.5168515"></polygon>
          </g>
        </g>
        <circle id="inner-oval" fill="#FFFFFF" cx="170" cy="170" r="109"></circle>
        <g id="temp-labels" transform="translate(25.000000, 78.000000)" font-size="10" font-family="Lato-Regular, Lato" fill="#C4C4C4" font-weight="normal">
          <text id="50ºC">
            <tspan x="50.985" y="78">50ºC</tspan>
          </text>
          <text id="100ºC">
            <tspan x="69.085" y="34">100ºC</tspan>
          </text>
          <text id="350ºC">
            <tspan x="208.085" y="127">350ºC</tspan>
          </text>
          <text id="150ºC">
            <tspan x="105.085" y="10">150ºC</tspan>
          </text>
          <text id="200ºC">
            <tspan x="157.085" y="10">200ºC</tspan>
          </text>
          <text id="250ºC">
            <tspan x="191.085" y="34">250ºC</tspan>
          </text>
          <text id="300ºC">
            <tspan x="211.085" y="78">300ºC</tspan>
          </text>
          <text id="0ºC">
            <tspan x="56.885" y="127">0ºC</tspan>
          </text>
        </g>
      </g>
    </g>
  </g>
</svg>
<div class="buttons">
  <button onclick={{action 'setProcess' 'selective'}} class="{{if (eq process 'selective') 'active'}}">Selective soldering</button>
  <button onclick={{action 'setProcess' 'wave'}} class="{{if (eq process 'wave') 'active'}}">Wave soldering</button>
  <button onclick={{action 'setProcess' 'reflow'}} class="{{if (eq process 'reflow') 'active'}}">Reflow soldering</button>
</div>
