<div class="label" id="lmpa">
  <h3>LMPA<sup>&trade;</sup>-Q</h3>
  <p>{{minTempLMPA}}째C - {{maxTempLMPA}}째C</p>
</div>
<div class="label" id="sac">
  <h3>Sn(Ag)Cu</h3>
  <p>{{minTempSAC}}째C - {{maxTempSAC}}째C</p>
</div>
<SvgTemperatureGauge />
<div class="buttons">
  <ButtonAction
    @text="Wave soldering"
    @onClick={{action "setProcess" "wave"}}
    class="medium grey-borders {{if (eq process "wave") "active"}}"
  />
  <ButtonAction
    @text="Selective soldering"
    @onClick={{action "setProcess" "selective"}}
    class="medium grey-borders {{if (eq process "selective") "active"}}"
  />
  <ButtonAction
    @text="Reflow soldering"
    @onClick={{action "setProcess" "reflow"}}
    class="medium grey-borders {{if (eq process "reflow") "active"}}"
  />
</div>
