<div>
  <h2><strong>Get in touch</strong> get a free demo at your company</h2>
  <!-- <h2><strong>Request to be contacted</strong> get a free demo at your company</h2> -->
  <a href="mailto:lmpa@interflux.com" target="_blank">lmpa@interflux.com</a>
  <!-- <form>
    <div class="field">
      {{input value=contactRequest.name placeholder="Name"}}
    </div>
    <div class="field">
      {{input value=contactRequest.company placeholder="Company"}}
    </div>
    <div class="field">
      {{input value=contactRequest.email placeholder="Email"}}
    </div>
    <div class="field">
      {{input value=contactRequest.phone placeholder="Phone"}}
    </div>
    <div class="field">
      {{input value=contactRequest.country placeholder="Country"}}
    </div>
    <button {{action 'requestContact'}} class="light-blue">Send</button>
  </form> -->
</div>
