<FormInput
  @value={{lead.name}}
  @onUpdate={{action (mut lead.name)}}
  @onEnter={{action "focusOnNextField"}}
  @label="Your name"
  @placeholder="e.g. John Doe"
/>

<FormInput
  @value={{lead.company}}
  @onUpdate={{action (mut lead.company)}}
  @onEnter={{action "focusOnNextField"}}
  @label="Company name"
  @placeholder="e.g. Electronics Expert"
/>

<FormInput
  @value={{lead.email}}
  @onUpdate={{action (mut lead.email)}}
  @onEnter={{action "focusOnNextField"}}
  @label="Email"
  @placeholder="e.g. john.doe@electronicsexpert.com"
/>

<FormInput
  @value={{lead.mobile}}
  @onUpdate={{action (mut lead.mobile)}}
  @onEnter={{action "focusOnNextField"}}
  @label="Mobile"
  @placeholder="e.g. +61 888 999 555"
/>

<p>Country: {{lead.country.name}}</p>

<FormDropdown
  @label="Country"
  @options={{countries}}
  @selected={{lead.country}}
  @onUpdate={{action (mut lead.country)}}
  @searchField="name"
/>

<FormTextarea
  @value={{lead.message}}
  @onUpdate={{action (mut lead.message)}}
  @onEnter={{perform focusOnNextField}}
  @label="Message"
  @rows="6"
  @placeholder="Hello Interflux, Please send your LMPA expert to our company for a demonstration."
/>

<ButtonTask
  @task={{submit}}
  @onClick={{perform submit}}
  @errors={{v-get this "errorCode" "messages"}}
  @textIdle="Send"
  @textBusy="Sending ..."
  class="dark-blue"
/>