<div>
  <div>
    <h2>What are LMPA?</h2>
    <h3>LMPA</h3>
    <p>LMPA<sup>&trade;</sup> is short for Low Melting Point Alloys<sup>&trade;</sup>. These alloys allow you to use soldering temperatures that are considerably lower than for the traditional lead-free Sn(Ag)Cu (SAC) alloys.</p>
    {{!-- <p>LMPA are researched and developed by <a href="http://www.interflux.com" target="_blank">Interflux<sup>&reg;</sup> Electronics NV</a>.</p> --}}
    <h3>LMPA-Q</h3>
    <p><nobr>LMPA-Q<sup>&trade;</sup></nobr> is an enhanced LMPA<sup>&trade;</sup> with superior mechanical properties. It's without exception the best alloy we have developed so far. The benefits are numerous.</p>
    <h3>What LMPA-Q will allow you to do</h3>
    <ul id="benefits">
      <li>
        {{#link-to "locale.wetting"}}
          {{svg-check}}
          <span>Solder at lower temperatures between 190ºC and 250ºC</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.speed"}}
          {{svg-check}}
          <span>Solder 5 times faster with zero defects</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.voiding"}}
          {{svg-check}}
          <span>Reduce voiding below 10%</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.costs"}}
          {{svg-check}}
          <span>Reduce production costs</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.speed"}}
          {{svg-check}}
          <span>Increase production line capacity</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.costs"}}
          {{svg-check}}
          <span>Reduce your carbon footprint</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.heat-failures"}}
          {{svg-check}}
          <span>Avoid heat-related board and component failures</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.dross"}}
          {{svg-check}}
          <span>No more need for nitrogen</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.dross"}}
          {{svg-check}}
          <span>Eliminate dross formation (oxides)</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to "locale.wetting"}}
          {{svg-check}}
          <span>Excellent wetting</span>
        {{/link-to}}
      </li>
    </ul>
    <h3>For all soldering processes</h3>
    <p>LMPA<sup>&trade;</sup>-Q can be used for all soldering processes:</p>
    {{!-- <ul id="processes">
      <li><img src="/assets/images/wave-soldering.jpg" alt="wave soldering icon">For wave soldering</li>
      <li><img src="/assets/images/selective-soldering.jpg" alt="selective soldering icon">For selective soldering</li>
      <li><img src="/assets/images/reflow-soldering.jpg" alt="reflow soldering icon">For reflow soldering</li>
    </ul> --}}
    <div id="processes">
      <div class="wave">
        <img src="/assets/images/wave-soldering.jpg" alt="wave soldering icon">
        <h3>Wave soldering</h3>
        <p>LMPA-Q: 200°C - 230°C</p>
        <p>Sn(Ag)Cu: 260°C - 280°C</p>
      </div>
      <div class="selective">
        <img src="/assets/images/selective-soldering.jpg" alt="selective soldering icon">
        <h3>Selective soldering</h3>
        <p>LMPA-Q: 200°C - 250°C</p>
        <p>Sn(Ag)Cu: 270°C - 320°C</p>
      </div>
      <div class="reflow">
        <img src="/assets/images/reflow-soldering.jpg" alt="reflow soldering icon">
        <h3>Reflow soldering</h3>
        <p>LMPA-Q: 190°C - 220°C</p>
        <p>Sn(Ag)Cu: 235°C - 250°C</p>
      </div>
    </div>
  </div>
</div>
