<div>
  <h2>What does <strong>LMPA</strong> <nobr>stand for?</nobr></h2>
  <p><strong>LMPA<sup>&trade;</sup></strong> is short for <strong>Low Melting Point Alloys</strong><sup>&trade;</sup> developed by <a href="http://www.interflux.com" target="_blank">Interflux<sup>&reg;</sup> Electronics NV</a>. These alloys enable soldering temperatures that are considerably lower than for the traditional lead-free Sn(Ag)Cu (SAC) alloys.</p>
  <p><strong><nobr>LMPA<sup>&trade;</sup>-Q</nobr></strong> is an enhanced LMPA<sup>&trade;</sup> with superior mechanical properties. The benefits are numerous:</p>
  <h3>Benefits</h3>
  <ul id="benefits">
    <li>
      {{#link-to 'locale.speed'}}
        {{svg-check}}<span>5 times faster soldering with zero defect</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.voiding'}}
        {{svg-check}}<span>Reduce voiding below 10%</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.costs'}}
        {{svg-check}}<span>Lower production costs &amp; increase line capacity</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.heat-failures'}}
        {{svg-check}}<span>Avoid heat-related board and component failures</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.dross'}}
        {{svg-check}}<span>Drastically reduce dross formation (oxides)</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.wetting'}}
        {{svg-check}}<span>Achieve excellent wetting</span>
      {{/link-to}}
    </li>
  </ul>
  <h3>Processes</h3>
  <p>LMPA<sup>&trade;</sup>-Q can be used for all soldering processes:</p>
  <ul id="processes">
    <li><img src="/assets/images/wave-soldering.jpg" alt="wave soldering icon">For wave soldering</li>
    <li><img src="/assets/images/selective-soldering.jpg" alt="selective soldering icon">For selective soldering</li>
    <li><img src="/assets/images/reflow-soldering.jpg" alt="reflow soldering icon">For reflow soldering</li>
  </ul>
</div>
