<div>
  <h2><strong>What are LMPA?</strong></h2>
  <p><strong>LMPA&trade;</strong> is short for <strong>Low Melting Point Alloys</strong>&trade; and refers to a range of products developed by <a href="http://www.interflux.com" target="_blank">Interflux Electronics</a>. These alloys make it possible for you to solder at temperatures between 190&deg;C to 250&deg;C. This is considerably lower than the traditional Sn(Ag)Cu (SAC) which operates between temperatures of 235&deg;C and 320&deg;C.</p>
  <p><strong>LMPA-Q&trade;</strong> is an <strong>enhanced LMPA</strong> with superior mechanical properties compared to Sn(Ag)Cu alloys (SAC). The benefits are numerous:</p>
  <h3>LMPA-Q</h3>
  <p>LMPA-Q&trade; can be used for all soldering processes:</p>
  <ul id="processes">
    <li><img src="/assets/images/wave-soldering.jpg" alt="wave soldering icon">for wave soldering</li>
    <li><img src="/assets/images/selective-soldering.jpg" alt="selective soldering icon">for selective soldering</li>
    <li><img src="/assets/images/reflow-soldering.jpg" alt="reflow soldering icon">for reflow soldering</li>
  </ul>
  <h3>Benefits</h3>
  <ul id="benefits">
    <li>
      {{#link-to 'locale.speed'}}
        {{svg-check}}<span>Solder 5 times faster and with zero defects</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.voiding'}}
        {{svg-check}}<span>Reduce solder voiding below 9%</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.costs'}}
        {{svg-check}}<span>Lower production costs &amp; increase</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.heat-failures'}}
        {{svg-check}}<span>Avoid heat-related board and component failures</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.dross'}}
        {{svg-check}}<span>No more dross formation (oxides)</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'locale.wetting'}}
        {{svg-check}}<span>Achieve excellent wetting</span>
      {{/link-to}}
    </li>
  </ul>
</div>
