{{!-- https://github.com/ronco/ember-cli-head --}}
<title>{{model.title}}</title>
<meta
  name="description"
  content={{model.description}}
>
<link
  rel="canonical"
  href={{model.canonical}}
>
<meta
  name="robots"
  content="index, follow"
>

{{!-- https://developers.facebook.com/docs/sharing/webmasters/ --}}
<meta
  property="og:type"
  content="website"
>
<meta
  property="og:url"
  content={{model.canonical}}
>
<meta
  property="og:title"
  content={{model.title}}
>
<meta
  property="og:description"
  content={{model.description}}
>
<link
  rel="icon"
  href="{{model.cdnHost}}/images/favicons/interflux-blue-favicon@228x228.png"
  sizes="228x228"
  type="image/png"
>



    <meta name='built-by' content='Jan Werkhoven, j.werkhoven@interflux.com' />
    <meta name='built-with' content='Ember Octane, https://emberjs.com/' />
    <meta name="theme-color" content="#23578c">
